<%= form_with(model: email, local: true) do |form| %>
  <% if email.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(email.errors.count, "error") %> prohibited this email from being saved:</h2>

      <ul>
        <% email.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :receiver_email %>
    <%= form.text_field :receiver_email %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :aes_key %>
    <%= form.text_field :aes_key %>
  </div>

  <div class="field">
    <%= form.label :check %>
    <%= form.check_box :check %>
  </div>

  <div class="field">
    <%= form.label :pkey_rsa? %>
    <%= form.check_box :pkey_rsa? %>
  </div>

  <div class="field">
    <%= form.label :file %>
    <%= form.file_field :file %>
  </div>

  <div class="field">
    <%= form.label :wmark %>
    <%= form.file_field :wmark %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
