<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @email.title %>
</p>

<p>
  <strong>Receiver:</strong>
  <%= @email.receiver.email %>
</p>

<p>
  <strong>Content:</strong>
  <%= @email.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @email.user.email %>
</p>

<p>
  <strong>Sended Check sum:</strong>
  <%= @email.check_sum %>
</p>

<p>
  <strong>Calculated Check sum:</strong>
  <%= @check_sum %>
</p>

<p>
  <strong>Check sum result:</strong>
  <%= @check_sum == @email.check_sum ? 'Check sum identified' : 'Checksum not identified' %>
</p>

<%= form_with(scope: :rsa_public_verify, url: email_rsa_public_verify_path(@email), method: :get, local: true) do |form| %>

<div class="field">
  <%= form.label :public_key %>
  <%= form.text_area :public_key %>
</div>

<%= form.hidden_field :aes_key, value: params[:decrypt][:aes_key] %>

<div class="actions">
  <%= form.submit %>
</div>

<% end %>


<%= link_to 'Back', emails_path %>
